<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4cc9db56c4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="Css/estilo.css">
    <link rel="stylesheet" href="Css/contato.css">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <title>Home</title>
</head>
<body>
    <header class="cabecalho">
        <a href="http://localhost/projetosite/"><img src="Imagens/logo.jpg" alt="Lodbrok-viajens"></a>
        <nav>
            <ul>
                <li><a href="http://localhost/projetosite/">Home</a></li>
                <li><a href="http://localhost/projetosite/cadastro">Cadastro</a></li>
                <li><a href="http://localhost/projetosite/login">Login</a></li>
                <li><a href="http://localhost/projetosite/sobre">Sobre</a></li>
                <li><a href="http://localhost/projetosite/contato">Contato</a></li>
                <li><a href="http://localhost/projetosite/Dashboard">Dashboard</a></li>
            </ul>
        </nav>
    </header>
    <section class="contato">
        <h1>Como podemos ajuda-lo?</h1>
        <h2>Se voçe tem perguntas ou interesse em trabalhar com nosso time, preencha o formulario abaixo </h2>
    </section>
    <section class="formulario">
        <h2>Prencha o fórmulario</h2>
        <form action="http://localhost/projetosite/contato/formulario" method="POST">
            <input type="text" name="nome" id="nome" placeholder="Seu nome">
            <input type="email" name="email" id="email" placeholder="@hotmail.com">
            <textarea name="descricao" id="descricao" rows="8" maxlength="250"></textarea>
            <button class="btn">Enviar</button>
        </form>
    </section>
    <footer>
        <ul>
            <li><a href=""><i class="fab fa-facebook"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-youtube"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
        </ul>
        <P>&copy; Por Maykon Regis Todos os direito reservador ao grupo lodbrok enterprice</br></P>
    </footer>
</body>
</html>