<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4cc9db56c4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="Css/estilo.css">
    <title>Home</title>
</head>
<body>
    <header class="cabecalho">
        <a href="Home.html"><img src="Imagens/logo.jpg" alt="Lodbrok-viajens"></a>
        <nav>
            <ul>
                <li><a href="http://localhost/projetosite/">Home</a></li>
                <li><a href="Cadastro.html">Cadastro</a></li>
                <li><a href="Login.html">Login</a></li>
                <li><a href="Sobre.html">Sobre</a></li>
                <li><a href="Contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    <section class="secao1">
        <h1>Lodrbok Viajens Internacionais</h1>
        <h2>Realize seu sonho de viajar pelo mundo</h2>
        <a href="contato.html" class="btn">Saiba mais</a>
    </section>
    <section class="secao2">
        <h2>Conheça nossas viajens</h2>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus qui corporis, nostrum tempore eaque laborum adipisci fugit quo possimus, eos magni perferendis hic molestiae voluptatum, quia quisquam quos accusamus. Laborum.</P>
        <hr>
        <ul class="grid">
            <li class="small" style="background-image: url(imagens/imagen1.jpg);"></li>
            <li class="large" style="background-image: url(imagens/imagen2.jpg);"></li>
            <li class="large" style="background-image: url(imagens/imagen3.jpg);"></li>
            <li class="small" style="background-image: url(imagens/imagen4.jpg);"></li>
        </ul>
    </section>
    <section class="informacoes">
        <h3>Informações adicionais sobre nossas viajens</h3>
        <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore enim voluptatem asperiores odio, tempore maiores accusantium, dignissimos quos praesentium dolorem, quibusdam a doloremque commodi! Dolores laboriosam placeat est quas officia!</P>
        <hr>
        <ul class="grid">
            <li>
                <i class="fas fa-location-arrow"></i>
                <h4>Localizacao</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nihil pariatur iusto accusantium recusandae laudantium deserunt amet incidunt debitis voluptas error quam quo ducimus nobis, accusamus reiciendis rerum similique dolorem?</p>
            </li>

            <li>
                <i class="fas fa-gift"></i>
                <h4>Pacote de ofertas</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nihil pariatur iusto accusantium recusandae laudantium deserunt amet incidunt debitis voluptas error quam quo ducimus nobis, accusamus reiciendis rerum similique dolorem?</p>
            </li>

            <li>
                <i class="fas fa-home"></i>
                <h4>Acomodaçoes</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nihil pariatur iusto accusantium recusandae laudantium deserunt amet incidunt debitis voluptas error quam quo ducimus nobis, accusamus reiciendis rerum similique dolorem?</p>
            </li>
        </ul>
    </section>
    <footer>
        <ul>
            <li><a href=""><i class="fab fa-facebook"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-youtube"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
        </ul>
        <P>&copy; Por Maykon Regis Todos os direito reservador ao grupo lodbrok enterprice</br></P>
    </footer>
</body>
</html>